USE [master]
GO
/****** Object:  Database [MovieStoreDB]    Script Date: 10.09.2024 14:54:25 ******/
CREATE DATABASE [MovieStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MovieStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MovieStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieStoreDB]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 10.09.2024 14:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[director_id] [int] IDENTITY(1,1) NOT NULL,
	[director_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[director_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieViews]    Script Date: 10.09.2024 14:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieViews](
	[view_id] [int] IDENTITY(1,1) NOT NULL,
	[director_id] [int] NOT NULL,
	[view_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[view_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DirectorViewReport]    Script Date: 10.09.2024 14:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. View oluşturma
CREATE VIEW [dbo].[DirectorViewReport] AS
SELECT 
    d.director_name AS Director,
    SUM(m.view_count) AS TotalViews
FROM 
    MovieViews m
JOIN 
    Directors d ON m.director_id = d.director_id
GROUP BY 
    d.director_name;
GO
ALTER TABLE [dbo].[MovieViews]  WITH CHECK ADD FOREIGN KEY([director_id])
REFERENCES [dbo].[Directors] ([director_id])
GO
USE [master]
GO
